<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans  
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
		
	 <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">  
                <property name="corePoolSize" value="5" />  
                <property name="maxPoolSize" value="10" />  
                <property name="queueCapacity" value="5000" />
				<property name="keepAliveSeconds" value="300" />                 
      </bean>  
</beans>
