<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.google.dao.ComprehensiveEvaluationResultsMapper">

    <resultMap id="comprehensiveEvaluationResultMap" type="com.google.entity.vo.ComprehensiveEvaluationResultVO">
        <id column="ID" property="id"/>
        <result column="COURSE_ID" property="courseId"/>
        <result column="STUDENT_ID" property="studentId"/>
        <result column="RESULT_SCORE" property="resultScore"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_AT" property="updateAt"/>
        <result column="CLASS_ID" property="classId"/>
        <result column="STUDENT_NO" property="studentNo"/>
        <result column="STUDENT_REAL_NAME" property="studentRealName"/>
    </resultMap>

    <select id="countComprehensiveEvaluationResultByDto" resultType="int" >
        SELECT
          COUNT(*)
        FROM comprehensive_evaluation_results cer
        LEFT JOIN student_info si ON si.ID = cer.STUDENT_ID
        WHERE 1=1
        <if test="resultDTO.courseId != null and resultDTO.courseId != 0">
            AND COURSE_ID = #{resultDTO.courseId}
        </if>
        <if test="resultDTO.studentNo != null and resultDTO.studentNo != ''">
            AND si.STUDENT_NO = #{resultDTO.studentNo}
        </if>
        <if test="classId != null and classId != 0">
            AND si.STUDENT_CLASS_ID = #{classId}
        </if>
    </select>

    <select id="findComprehensiveEvaluationResultByDto" resultMap="comprehensiveEvaluationResultMap">
        SELECT
            *, si.STUDENT_CLASS_ID AS CLASS_ID, si.STUDENT_NO AS STUDENT_NO, si.STUDENT_REAL_NAME AS STUDENT_REAL_NAME
        FROM comprehensive_evaluation_results cer
        LEFT JOIN student_info si ON si.ID = cer.STUDENT_ID
        WHERE 1=1
        <if test="resultDTO.courseId != null and resultDTO.courseId != 0">
            AND COURSE_ID = #{resultDTO.courseId}
        </if>
        <if test="resultDTO.studentNo != null and resultDTO.studentNo != ''">
            AND si.STUDENT_NO = #{resultDTO.studentNo}
        </if>
        <if test="classId != null and classId != 0">
            AND si.STUDENT_CLASS_ID = #{classId}
        </if>
        limit #{resultDTO.start}, #{resultDTO.rows}
    </select>

    <select id="findComprehensiveEvaluationResultByStudentId" resultMap="comprehensiveEvaluationResultMap">
        SELECT
          *
        FROM comprehensive_evaluation_results
        WHERE STUDENT_ID = #{studentId}
    </select>

    <insert id="saveResultBatch" parameterType="com.google.entity.dto.ComprehensiveEvaluationResultDTO">
        INSERT INTO comprehensive_evaluation_results(
            COURSE_ID,
            STUDENT_ID,
            RESULT_SCORE,
            UPDATE_BY,
            UPDATE_AT
        ) VALUES
        <foreach collection="list" item="item" index="index" separator="," >
            (
            #{item.courseId},
            #{item.studentId},
            #{item.resultScore},
            #{item.updateBy},
            NOW()
            )
        </foreach>
    </insert>

    <update id="updateResult">
        UPDATE comprehensive_evaluation_results
        <if test="resultScore != null and resultScore != ''">
            SET RESULT_SCORE = #{resultScore}
        </if>
        WHERE STUDENT_ID = #{studentId}
        AND COURSE_ID = #{courseId}
    </update>

    <select id="avgResultGroupByCourseId" resultType="map">
        SELECT
            AVG(RESULT_SCORE) AS avgScore,
            cer.COURSE_ID AS courseId,
            si.STUDENT_CLASS_ID AS classId
        FROM
            comprehensive_evaluation_results cer
        LEFT JOIN student_info si ON si.ID = cer.STUDENT_ID
        WHERE
        cer.COURSE_ID = #{courseId}
        GROUP BY si.STUDENT_CLASS_ID, cer.COURSE_ID;
    </select>

</mapper>