<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.google.dao.StudentInfoMapper">

    <resultMap id="studentInfoVoMap" type="com.google.entity.vo.StudentInfoVO">
        <id column="ID" property="id"/>
        <result column="USER_ID" property="userId"/>
        <result column="STUDENT_NO" property="studentNo"/>
        <result column="STUDENT_REAL_NAME" property="studentRealName"/>
        <result column="STUDENT_GENDER" property="studentGender"/>
        <result column="STUDENT_BIRTH_DATE" property="studentBirthDate"/>
        <result column="STUDENT_NATIVE_PLACE" property="studentNativePlace"/>
        <result column="STUDENT_PLACE_GO_TO" property="studentPlaceGoTo"/>
        <result column="STUDENT_HEALTH_STATUS" property="studentHealthStatus"/>
        <result column="STUDENT_CLASS_ID" property="studentClassId"/>
        <result column="DEPARTMENT_ID" property="departmentId"/>
        <result column="STUDENT_INTERNSHIP_REPORT_PATH" property="internshipReportPath"/>
    </resultMap>

    <select id="countStudentInfoListByDto" resultType="int">
        SELECT
        COUNT(*)
        FROM student_info
        WHERE 1=1
        <if test="infoDto.studentNo != null and infoDto.studentNo != ''">
            AND STUDENT_NO = #{infoDto.studentNo}
        </if>
        <if test="infoDto.studentRealName != null and infoDto.studentRealName != ''">
            AND STUDENT_REAL_NAME LIKE CONCAT('%', #{infoDto.studentRealName}, '%')
        </if>
        <if test="infoDto.studentClassId != null and infoDto.studentClassId != ''">
            AND STUDENT_CLASS_ID = #{infoDto.studentClassId}
        </if>
    </select>

    <select id="findStudentInfoListByDto" resultMap="studentInfoVoMap">
        SELECT
          *, de.ID AS DEPARTMENT_ID
        FROM student_info si
        LEFT JOIN classes cla ON cla.ID = si.STUDENT_CLASS_ID
        LEFT JOIN department de ON de.ID = cla.CLASS_DEPARTMENT_ID
        WHERE 1=1
        <if test="infoDto.studentNo != null and infoDto.studentNo != ''">
            AND STUDENT_NO = #{infoDto.studentNo}
        </if>
        <if test="infoDto.studentRealName != null and infoDto.studentRealName != ''">
            AND STUDENT_REAL_NAME LIKE CONCAT('%', #{infoDto.studentRealName}, '%')
        </if>
        <if test="infoDto.studentClassId != null and infoDto.studentClassId != 0">
            AND STUDENT_CLASS_ID = #{infoDto.studentClassId}
        </if>
        limit #{infoDto.start}, #{infoDto.rows}
    </select>

    <select id="findStudentInfoDetailById" resultMap="studentInfoVoMap">
        SELECT
          si.*
        FROM student_info si
        LEFT JOIN users u ON si.USER_ID = u.ID
        WHERE u.ID = #{userId}
    </select>

    <insert id="saveStudentInfo" useGeneratedKeys="true" keyProperty="id" parameterType="com.google.entity.dto.StudentInfoDTO">
        INSERT INTO student_info (
            STUDENT_NO,
            STUDENT_REAL_NAME,
            STUDENT_GENDER,
            STUDENT_BIRTH_DATE,
            STUDENT_NATIVE_PLACE,
            STUDENT_PLACE_GO_TO,
            STUDENT_HEALTH_STATUS,
            STUDENT_CLASS_ID
        ) VALUES (
            #{studentNo},
            #{studentRealName},
            #{studentGender},
            #{studentBirthDate},
            #{studentNativePlace},
            #{studentPlaceGoTo},
            #{studentHealthStatus},
            #{studentClassId}
        )
    </insert>

    <update id="updateStudentInfo">
        UPDATE student_info
        <trim prefix="set" suffixOverrides=",">
            <if test="userId != null and userId != ''">
                USER_ID = #{userId},
            </if>
            <if test="studentNo != null and studentNo != ''">
                STUDENT_NO = #{studentNo},
            </if>
            <if test="studentRealName != null and studentRealName != ''">
                STUDENT_REAL_NAME = #{studentRealName},
            </if>
            <if test="studentGender != null and studentGender != ''">
                STUDENT_GENDER = #{studentGender},
            </if>
            <if test="studentBirthDate != null and studentBirthDate != ''">
                STUDENT_BIRTH_DATE = #{studentBirthDate},
            </if>
            <if test="studentNativePlace != null and studentNativePlace != ''">
                STUDENT_NATIVE_PLACE = #{studentNativePlace},
            </if>
            <if test="studentPlaceGoTo != null and studentPlaceGoTo != ''">
                STUDENT_PLACE_GO_TO = #{studentPlaceGoTo},
            </if>
            <if test="studentHealthStatus != null and studentHealthStatus != ''">
                STUDENT_HEALTH_STATUS = #{studentHealthStatus},
            </if>
            <if test="studentClassId != null and studentClassId != ''">
                STUDENT_CLASS_ID = #{studentClassId},
            </if>
            <if test="internshipReportPath != null and internshipReportPath != ''">
                STUDENT_INTERNSHIP_REPORT_PATH = #{internshipReportPath},
            </if>
        </trim>
        WHERE ID = #{id}
    </update>

    <delete id="deleteStudentInfoById" parameterType="long">
        DELETE FROM student_info WHERE id = #{id}
    </delete>
</mapper>