<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.google.dao.UserMapper">

    <select id="findUserByUserName" resultType="com.google.entity.vo.UserVO">
        SELECT * FROM users WHERE USER_NAME = #{userName}
    </select>

</mapper>